<div>
    <div>
        <br/>
        <div className="search">
            <label for="">User name:</label>
            <input placeholder="Github user name" type="text" />
            <button> Search </button>
        </div>
    </div>

    <div className="listGithub row">
        <h1>Seguidores :</h1>

        <div className="contenedorUsuario col-sm-2">
            <img className="imagenUser" alt="100%x280" src="https://dummyimage.com/200x200/000/fff&text=prueba" />
            <br/>
            <button type="button" className="btn btn-info">seguidor 1</button>
        </div>


    </div>
</div>






< div className="container">
    < div>
        < br />
        < div className="search">

            < label>
                User name:
                < input required type="text" value="" onChange="" placeholder="Github user name" />
                < /label>
                    < button onClick=""> Search
                        < /button>
                            < /div>
                                < /div>

                                    <div className="listGithub row">
                                        <h1>Seguidores :</h1>

                                        <div className="contenedorUsuario col-sm-2">
                                            <img className="imagenUser" alt="100%x280" src="https://dummyimage.com/200x200/000/fff&text=prueba" />
                                            <br/>
                                            <button type="button" className="btn btn-info">seguidor 1</button>
                                        </div>


                                    </div>


                                    < /div>
                                        < /div>